.product {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 0.1rem;
  padding: 1rem;
  border: 1px solid rgb(240, 240, 240);
  border-radius: 5px;
  background-color: white;
  cursor: pointer;
  height: 400px;
}

.product:hover {
  border: 1px solid rgb(196, 196, 196);
}

.productContent {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.productImage {
  margin: 1rem;
}

.product > button {
  padding: 8px;
  width: 230px;
}
