.product {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
  padding: 1rem;
  border: 1px solid rgb(240, 240, 240);
  border-radius: 5px;
  background-color: white;
  cursor: pointer;
}

.product:hover {
  box-shadow: 0px 0px 0px 4px black;
}

.productContent {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.productImage {
  margin: 1rem;
}
