.nav-link {
  background-color: white;
  color: black;
  cursor: pointer;
}

.nav-link:hover {
  background-color: black;
  color: white;
}

.product {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  border: 1px solid black;
  border-radius: 5px;
  margin: 1rem;
  width: 250px;
  height: 300px;
}

.product:hover {
  box-shadow: 5px 5px 5px rgb(112, 112, 112);
}

.content {
  margin: 1rem;
}
